{% extends 'Todo/base.html' %}

{% block content %}

<div>
    <h1> My Current Todos</h1>

    <div>
        {% if not todos %}
            <div class="jumbotron"><p>No Todos here yet !!!!!</p></div>
        {% endif %}

        {% for todo in todos %}
        {% if todo.important %}
            <div class="alert alert-danger" role="alert">
                <span class="badge badge-secondary">Imp</span>
        {% else %}
            <div class="alert alert-success" role="alert">
                {% endif %}
                <a href="{% url 'viewtodo' todo.id %}">{{ todo.title }}
                    {% if todo.memo %}
                    - {{ todo.memo }}
                    {% endif %}</a>
            </div>
        {% endfor %}
    </div>
</div>

<a class="btn btn-primary" href="{% url 'createtodo' %}" role="button">Create New</a>

{% endblock %}